<div class="header-container">
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['formCreation']">
        <div class="header-caption">form creation</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['validators']">
        <div class="header-caption">validators</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['formGroups']">
        <div class="header-caption">form groups</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['customValidator']">
        <div class="header-caption">custom validator</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['asyncValidator']">
        <div class="header-caption">async validator</div>
      </a>
    </div>
    <div class="header-slot" [routerLinkActive] = "['active']">
      <a [routerLink] = "['ngModel']">
        <div class="header-caption">ng-model</div>
      </a>
    </div>
  </div>